# GENERAL PASSWORDS
CENTRALE_MASTER_PASSWORD="_my_master_password_that_is_very_long_"
CENTRALE_MASTER_BEARER_TOKEN="_my_master_bearer_token_that_is_very_long_"
# PROXY CERT
CENTRALE_CERT_PRIVATE_KEY="/path/to/_wildcard.domain.local-key.pem"
CENTRALE_CERT_PUB_KEY="/path/to/_wildcard.domain.local.pem"
# DOMAIN
DOMAIN="mydomain.com"
SAMPLE_SERVER_ADDRESS="one.domain.local:8443"
SAMPLE_SERVER_IP="127.0.0.1:8443"
