# PROXY ADDRESS
CENTRALE_ADDRESS="0.0.0.0:443"
# PROXY CERT
CENTRALE_IS_443=true
CENTRALE_CERT_PRIVATE_KEY="/path/to/_wildcard.domain.local-key.pem"
CENTRALE_CERT_PUB_KEY="/path/to/_wildcard.domain.local.pem"
# GENERAL PASSWORDS
CENTRALE_MASTER_PASSWORD="_my_master_password_that_is_very_long_"
CENTRALE_MASTER_BEARER_TOKEN="_my_master_bearer_token_that_is_very_long_"
# DOMAIN
DOMAIN="mydomain.com"
DESTINATION_SERVER_ADDRESS="one.domain.local:8443"
DESTINATION_SERVER_PASSWORD="bFOlDS1RZMPKkVD8xSHbNQYrmo"
DESTINATION_SERVER_IP="127.0.0.1:8443"
# RATE LIMITER FOR PUBLIC ENDPOINTS
# How many requests are allowed to pipeline in total per one IP
PUBLIC_RATE_LIMITER_BURST_SIZE=1
 # How many places in pipeline are freed in a second for 1 IP
PUBLIC_RATE_LIMITER_REQUESTS_PER_SECOND=1
# FRONTEND
SERVE_FRONT=true
FRONT_END_FOLDER="/Users/me/project/frontend/dist"
# COOKIE
COOKIE_TIMEOUT=86400
COOKIE_SECURE=true
COOKIE_HTTP_ONLY=true
# WRTIER
WRITER_SERVER_ADDRESS="127.0.0.1:8081"
# WEBSITE
WWW_UPSTREAM_ADDRESS="127.0.0.1:9001"
